<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %highlight(%-5level) %cyan(%logger{0}@[%-4.30thread]) - %msg%n</pattern>
        </encoder>
<!--        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">-->
<!--            <providers>-->
<!--                <timestamp />-->
<!--                <loggerName />-->
<!--                <logLevel />-->
<!--                <message />-->
<!--                <mdc />-->
<!--                <context />-->
<!--            </providers>-->
<!--        </encoder>-->
    </appender>
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <options>
            <dsn>https://5c34ee67a57b60be3dcf5f0ad5dbab5d@o4507826178228224.ingest.de.sentry.io/4507826179866704</dsn>
        </options>
    </appender>
    <appender name="Logtail" class="com.logtail.logback.LogtailAppender">
        <appName>bintradertest</appName>
        <sourceToken>LWdVq4pTV7rst1qG2HkrH2sH</sourceToken>
    </appender>
    <appender name="telegram" class="com.tekron.binanceapitest.logging.TelegramAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <logger name="deng" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Logtail" />
        <appender-ref ref="Sentry" />
        <appender-ref ref="telegram" />
    </root>
</configuration>